.vm-pictures h1 {
    text-align: center;
}

input-title {
    display: inline-block;
    height: 30px;
    border: none;
}

.list-pics{
    color: #79bbff;
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.take-pic {
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    height: 53px;
    line-height: 53px;
    width: 131px;
    text-decoration: none;
    width: 100%;
}

.recording {
    -moz-box-shadow: inset 0px 1px 20px -22px #cae3fc;
    -webkit-box-shadow: inset 0px 1px 20px -22px #cae3fc;
    box-shadow: inset 0px 1px 20px -22px #cae3fc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee));
    background: -moz-linear-gradient(center top, #79bbff 5%, #4197ee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
    background-color: #79bbff;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    text-indent: 0px;
    border: 1px solid #469df5;
    display: inline-block;
    color: #ffffff;
    font-family: Verdana;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    height: 53px;
    line-height: 53px;
    width: 131px;
    text-decoration: none;
}

    .recording:active {
        position: relative;
        top: 1px;
    }

#audio_position {
    font-weight: normal;
    text-transform: uppercase;
    color: #FF0000;
    letter-spacing: 1pt;
    word-spacing: 0pt;
    font-size: 22px;
    text-align: center;
    font-family: verdana, sans-serif;
    line-height: 1;
}
