.recording {
    font-size: 30px;
    background-position: center;
    background-color: red;
    /*border-radius: 100px;*/
    /*border: none;*/
    text-align: center;
    width: 60;
    height: 60px;
    /*margin: 20px auto;*/
}
