<div data-role="view" data-title="Pictures" data-layout="main" data-model="app.viewmodels.pictures"
     data-show="app.viewmodels.allPictures" class="vm-pictures">
  
    <ul id="images"></ul>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/home.html" data-icon="reply">Back</a>
            <a href="views/new-picture.html" data-icon="camera">Take Picture</a>
            <a href="views/home.html" data-icon="search">Search</a>
        </div>
    </div>
</div>
