<div data-role="view" data-title="Audio Notes" data-layout="main" data-model="app.viewmodels.sounds"
     data-show="app.viewmodels.allSounds" class="vm-pictures">

    <ul id="sounds"></ul>
    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="views/home.html" data-icon="reply">Back</a>
            <a href="views/new-sound.html" data-icon="sounds">Record New Audio</a>
            <a href="views/home.html" data-icon="search">Search</a>
        </div>
    </div>
</div>
